@import "variables";

.navbar {
  border-bottom: 1px solid #CCCCCC;
  // border: 0;
  // border-radius: 0px;
  margin-bottom: 0;
}

#header-container {
  width: $sidebar-width + $main-width + $sidebar-margin;
  padding: 0;
}

.navbar-default {

  .navbar-brand {
    padding: 0;
    width: $sidebar-width;
    text-align: center;

    #logo {
      padding: 10px;
    }
  }

  .navbar-nav > li > a {
    color: $blue;
    font-size: $navbar-font-size
  }

  #report-bug:hover {
    cursor: pointer;
  }
}