@import "variables";

.navbar {
  border-bottom: 1px solid #CCCCCC;
  // border: 0;
  // border-radius: 0px;
  margin-bottom: 0;
}

.navbar-default {
  .navbar-brand {
    padding: 0;
    width: $sidebar-width;
    text-align: center;
    #logo {
      padding: 10px;
    }
  }
  // .navbar-brand:focus, .navbar-brand:hover {
  //   background-color: $orange;
  //   color: white;
  // }
}

.navbar-default .navbar-nav > li > a {
  color: $blue;
  font-size: $subtitle-font-size;
}

#report-bug:hover {
  cursor: pointer;
}