@import "variables";

#major-accordion {
  margin-bottom: 0;  
}

.major-glyph {
  height: 46px;
  background-color: $orange;
  width: 46px;
  float: left;
  margin: -10px -15px;
  text-align: center;
  color: white;
  padding: 15px 0;
}

.category-title {
  margin-bottom: 0;
  margin-left: 46px;
}