@import "variables";

.black-line {
	border-color: #DDDDDD;
	margin-top: 100px;
}

.professor-courses {
	list-style-type: none; 
	padding: 15px;
}

.avg-rating {
	height: 90px;
	width: 90px;
	background-color: #D75626;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px
}

