@import "variables";

#search-form {
  i {
    margin-right: 10px;
  }

  #search-query {
    border: 0;
    outline: none;
    width: 150px;
  }

  .submit-row {
    text-align: center;
  }

}

.site-nav-links {

  .nav-row {

    .col-wrapper {
      margin-top: 18px;
      padding-bottom: 18px;

      a {
        margin-left: $sidebar-row-margin;
        color: rgba(25,25,25,0.5);

        i {
          padding-right: $sidebar-icon-padding;
        }
      }

      a:hover {
        color: black;
      }
    }

    #bottom-col {
      border-bottom: 1px solid rgba(25, 25, 25, 0.5);
    }
  }

  .search-row {
    .col-wrapper {
      span {
        margin-left: $sidebar-row-margin;
        padding-right: $sidebar-icon-padding;
      }      
    }
  }

  #nav-footer {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 12px;
    width: $sidebar-width;

    a {
      color: rgba(25, 25, 25, 0.5);
    }

  }

  #social-links {
    margin-top: 12px;

    #facebook {
      text-align: right;
    }

    #twitter {
      text-align: center;
    }

    #reddit {
      text-align: left;
    }
  }
  
}