@import "variables";

.site-nav-links {

  #search-form {
    i {
      margin-right: 10px;
    }

    .search-row {
      span {
        margin-left: $sidebar-row-margin;
        padding-right: $sidebar-icon-padding;
        opacity: 0.5;
      }

      #search-query {
        border: 0;
        outline: none;
        width: 108px;
      }
    }

    .submit-row {
      text-align: center;
      display: none;
    }
  }

  .nav-row {

    .col-wrapper {
      margin-top: 18px;
      padding-bottom: 18px;

      a {
        margin-left: $sidebar-row-margin;
        text-decoration: none;
        font-size: $sidebar-font-size;

        i {
          padding-right: $sidebar-icon-padding;
        }

        opacity: 0.5
      }

      a:hover {
        opacity: 1;
        color: black;
      }

      input {
        font-size: $sidebar-font-size;
      }
    }

    #bottom-col {
      border-bottom: 1px solid rgba(25, 25, 25, 0.5);
    }
  }

  #nav-footer {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    font-size: $footer-font-size;
    width: $sidebar-width;

    a {
      color: rgba(25, 25, 25, 0.5);
    }

  }

  #social-links {
    margin-top: 12px;

    span {
      margin-left: 5px;
      margin-right: 5px;
    }
  } 
}
